@import "./pico.min.css";

/* On small screens always display votes and moderators in columns */
@media (max-width: 576px) {
    .resource > footer > div {
        flex-direction: column;
    }
}

.comment h1 {
    font-size: 1.1rem;
}

.comment h2,
.comment h3,
.comment h4,
.comment h5,
.comment h6
{
    font-size: 1rem;
}
